<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
		
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />

	<platform name="android" >
		<splash src="https://avatars3.githubusercontent.com/u/17802868?s=460&v=4" width="320" height="480"/>
	</platform>
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-device-motion" />
	<plugin name="cordova-plugin-splashscreen" />

</widget>
